body {
    display: block;
    margin: 0px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #bf9fee;
    font-size: 1rem;
}

.top-container {

	background-color: #ffd7e8;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	position: relative;
	padding-top: 100px;
}

.profile {

	width: 50%;
	margin-left: auto;
	margin-right: auto;
    padding-top: 20px;
	text-align: left;
	line-height: 2;
}

.skills {

	margin-left: auto;
	margin-right: auto;
	line-height: 2;
}

.skill-row {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: left;
	line-height: 2;
    padding-top: 20px;
}

.contact-me {

	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
    padding-top: 20px;
    margin-bottom: 0;
}

h1 {
	margin: 0 auto 0 auto;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 4rem;
	color: #866ec7;
}

h2 {
	font-family: 'Gloria Hallelujah', cursive;
	margin: 0 auto 0 auto;
	font-size: 2rem;
	font-weight: normal;
	color: #bf9fee;
	margin-bottom: 35px;
}

h3 {
	font-family: 'Gloria Hallelujah', cursive;
	margin: 0 auto 0 auto;
	font-size: 1.5rem;
	font-weight: normal;
	color: #bf9fee;
}

p {
	display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    margin-bottom: 30px;
}

#footer-p {
    text-align: center;
    margin: 0 0 0 0;
}

hr {
	border-style: none;
    border-top-style: dotted;
    border-color: #f2c0ff;
    border-width: 5px;
    width: 5%;
    margin: 50px auto 50px auto;
}

.bottom-cloud {
	position: absolute;
	left: 350px;
	bottom: : 120px;
}

.upper-cloud{
	position: absolute;
	top: 50px;
	right: 370px;
}

.programmatic-img {
	float: left;
	margin-right: 30px;
	margin-bottom: 70px;
    padding-bottom: 45px;
    padding-right: 20px;

}

.vis-img {
	float: left;
	margin-right: 30px;
	margin-bottom: 70px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.workshop-img {
	float: left;
	margin-right: 30px;
	margin-bottom: 70px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.speaking-img {
	float: left;
	margin-right: 30px;
	margin-bottom: 70px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.project-img {
	float: left;
	margin-right: 30px;
	margin-bottom: 80px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.web-dev-img {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.contact-me {
    margin-bottom: 50px;
}

.btn {
  background: #bf9fee;
  background-image: -webkit-linear-gradient(top, #bf9fee, #2980b9);
  background-image: -moz-linear-gradient(top, #bf9fee, #2980b9);
  background-image: -ms-linear-gradient(top, #bf9fee, #2980b9);
  background-image: -o-linear-gradient(top, #bf9fee, #2980b9);
  background-image: linear-gradient(to bottom, #bf9fee, #2980b9);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 11px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f2c0ff;
  background-image: -webkit-linear-gradient(top, #bf9fee, #3498db);
  background-image: -moz-linear-gradient(top, #bf9fee, #3498db);
  background-image: -ms-linear-gradient(top, #bf9fee, #3498db);
  background-image: -o-linear-gradient(top, #bf9fee, #3498db);
  background-image: linear-gradient(to bottom, #bf9fee, #3498db);
  text-decoration: none;
}

.footer {
    height: 50px;
    margin-top: 30px;
    margin-bottom: 0;
    background-color: #ffd7e8;
    text-align: center;
}
